.NavBar .van-nav-bar {
    background-color: #B52B22;
}


::v-deep {

    .van-nav-bar__title,
    .van-nav-bar__text,
    .van-nav-bar .van-icon {
        color: #fff;
    }

}

.selectBox {
    border: 1px solid #dcdbdb;
    border-radius: 60px;
    padding-right: 20px;
    height: 32px;
    padding-left: 10px;
    .van-dropdown-menu__bar {
        box-shadow: none;
        background: none;
        height: 44px;
        .van-dropdown-menu__item {
            height: 32px;
        }
        .van-dropdown-menu__title{
            font-size: 14px;
        }
    }

    .van-dropdown-item__content {
        >div:first-child {
            box-shadow: inset 0px 10px 10px -15px #a99e9e;;
        }
    }

}

.el-table {
    .el-table__body {
        font-size: 13px;

        .expanded {
            font-size: 14px;
            font-weight: 600;

            .expanded_td {

                background: #EAF4FF;

            }
        }


        .el-table__placeholder {
            width: 0;
        }
    }
}

.el-table [class*=el-table__row--level] {
    .el-table__expand-icon {
        display: none !important;
    }
}

.el-table .header-row {
    background: #f0f9eb;
    font-size: 14px;
}

.el-table .info-row {
    font-size: 13px;
}

.el-table .italic-row {
    font-size: 12px;
    font-style: italic;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}